.git
.gitignore
.DS_Store

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
build
.next
.nuxt
.output
.vite
coverage
tmp

.env
.env.*
.venv
__pycache__
*.pyc

.idea
.vscode